.header{
background-color: green;
height: 150px;
width: 1215px;
display: flex;
align-items: center;
justify-content: space-between;
}
.menu{
    font-family: Verdana;
    font-size: 24px;
    color: aliceblue;
    font-weight: bolder;
}

.imagem{
    
}